USE [Group3]
GO
/****** Object:  Table [dbo].[Ad]    Script Date: 2021/7/5 下午 06:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ad](
	[ad_id] [int] IDENTITY(1,1) NOT NULL,
	[company] [nvarchar](50) NULL,
	[company_id] [int] NULL,
	[text] [nvarchar](500) NULL,
	[url] [nvarchar](500) NULL,
	[ad_total_click] [float] NULL,
	[sponsorship_amount] [float] NULL,
 CONSTRAINT [PK__Ad__FD291E40164B23C1] PRIMARY KEY CLUSTERED 
(
	[ad_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ad_Clicktime]    Script Date: 2021/7/5 下午 06:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ad_Clicktime](
	[user_id] [int] NOT NULL,
	[ad_id] [int] NOT NULL,
	[click_time] [float] NULL,
 CONSTRAINT [PK_Ad_Ad_User] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[ad_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ad_Company]    Script Date: 2021/7/5 下午 06:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ad_Company](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[number] [nvarchar](50) NULL,
	[name] [nvarchar](50) NULL,
	[totalclick] [int] NULL,
 CONSTRAINT [PK_Ad_Company] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ad_Record]    Script Date: 2021/7/5 下午 06:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ad_Record](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[ad_id] [int] NULL,
	[url] [nvarchar](500) NULL,
	[ad_click] [float] NULL,
	[bonus] [float] NULL,
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ad_User]    Script Date: 2021/7/5 下午 06:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ad_User](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
 CONSTRAINT [PK_Ad_User] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Ad] ON 

INSERT [dbo].[Ad] ([ad_id], [company], [company_id], [text], [url], [ad_total_click], [sponsorship_amount]) VALUES (1, N'國泰世華銀行', 1, N'國泰世華銀行卡友尊享 限量優惠33折起預付訂位享【活動一: 3%現折+2%回饋】 或 【活動二: 100元優惠代碼】', N'https://www.cathaybk.com.tw/cathaybk/', 1, 20000)
INSERT [dbo].[Ad] ([ad_id], [company], [company_id], [text], [url], [ad_total_click], [sponsorship_amount]) VALUES (2, N'國泰世華卡友專屬優惠', 1, N'國泰優惠APP會員獨享
預付訂位即享16% EZCASH回饋', NULL, 0, 20000)
INSERT [dbo].[Ad] ([ad_id], [company], [company_id], [text], [url], [ad_total_click], [sponsorship_amount]) VALUES (3, N'國泰世華卡友專屬優惠', 1, N'國泰優惠APP會員獨享預付訂位即享5% EZCASH回饋', N'ertyuii', 0, 20000)
SET IDENTITY_INSERT [dbo].[Ad] OFF
INSERT [dbo].[Ad_Clicktime] ([user_id], [ad_id], [click_time]) VALUES (1, 1, 1)
INSERT [dbo].[Ad_Clicktime] ([user_id], [ad_id], [click_time]) VALUES (1, 2, 0)
INSERT [dbo].[Ad_Clicktime] ([user_id], [ad_id], [click_time]) VALUES (1, 4, 0)
SET IDENTITY_INSERT [dbo].[Ad_Company] ON 

INSERT [dbo].[Ad_Company] ([id], [number], [name], [totalclick]) VALUES (1, N'87654', N'ComapnyA', 0)
SET IDENTITY_INSERT [dbo].[Ad_Company] OFF
SET IDENTITY_INSERT [dbo].[Ad_Record] ON 

INSERT [dbo].[Ad_Record] ([id], [user_id], [ad_id], [url], [ad_click], [bonus]) VALUES (6, 1, 1, N'https://www.cathaybk.com.tw/cathaybk/', 1, 20000)
INSERT [dbo].[Ad_Record] ([id], [user_id], [ad_id], [url], [ad_click], [bonus]) VALUES (7, 1, 2, NULL, 0, NULL)
INSERT [dbo].[Ad_Record] ([id], [user_id], [ad_id], [url], [ad_click], [bonus]) VALUES (8, 1, 3, NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[Ad_Record] OFF
SET IDENTITY_INSERT [dbo].[Ad_User] ON 

INSERT [dbo].[Ad_User] ([user_id], [username], [password]) VALUES (1, N'abc', N'123')
INSERT [dbo].[Ad_User] ([user_id], [username], [password]) VALUES (2, N'def', N'def')
SET IDENTITY_INSERT [dbo].[Ad_User] OFF
ALTER TABLE [dbo].[Ad]  WITH CHECK ADD  CONSTRAINT [FK_Ad_Ad_Company] FOREIGN KEY([company_id])
REFERENCES [dbo].[Ad_Company] ([id])
GO
ALTER TABLE [dbo].[Ad] CHECK CONSTRAINT [FK_Ad_Ad_Company]
GO
ALTER TABLE [dbo].[Ad_Clicktime]  WITH CHECK ADD  CONSTRAINT [FK__Ad_clickt__ad_id__2A164134] FOREIGN KEY([ad_id])
REFERENCES [dbo].[Ad] ([ad_id])
GO
ALTER TABLE [dbo].[Ad_Clicktime] CHECK CONSTRAINT [FK__Ad_clickt__ad_id__2A164134]
GO
ALTER TABLE [dbo].[Ad_Clicktime]  WITH CHECK ADD  CONSTRAINT [FK__Ad_clickt__user___29221CFB] FOREIGN KEY([user_id])
REFERENCES [dbo].[Ad_User] ([user_id])
GO
ALTER TABLE [dbo].[Ad_Clicktime] CHECK CONSTRAINT [FK__Ad_clickt__user___29221CFB]
GO
ALTER TABLE [dbo].[Ad_Record]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Ad] FOREIGN KEY([ad_id])
REFERENCES [dbo].[Ad] ([ad_id])
GO
ALTER TABLE [dbo].[Ad_Record] CHECK CONSTRAINT [FK_Cart_Ad]
GO
ALTER TABLE [dbo].[Ad_Record]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Ad_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Ad_User] ([user_id])
GO
ALTER TABLE [dbo].[Ad_Record] CHECK CONSTRAINT [FK_Cart_Ad_User]
GO
