body {
	font-size: 17px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #fff5d7;
	line-height: 1.5em;
}

header {
	background-color: #333;
	color: yellow;
	/* 內距*/
	padding: 20px;
	text-align: center;
	margin-bottom: 10px;
}

#container {
	width: 90%;
	/* 編距 */
	margin: auto;
	padding: 10px;
}

#input {
	display: inline-block;
	align: center;
}

table {
	border: 7px inset lightblue;
	border-collapse: collapse;
	margin: 0 auto;
}
th, tr, td {
	text-align: center;
	border-bottom: 2px double #ADADAD;
	border-right: 1px dotted #c9c9c9;
}
fieldset {
		width: 500px;
		border:1px solid #acd6ff;
		border-radius: 20px;
		margin: 15px;
	}
	legend {
		color:cadetblue;
		/* text-align: center; */
		/* 微調 */
		margin-left: 50px;
	}
	.st1 {
		width: 450px;
		border-bottom: 10px dashed #D0D0D0;
		margin: 20px;
		padding-bottom: 10px;
	}

	.sub {
		width: 450px;
		margin: 20px;
		text-align: center;
	}

	textarea {
		resize: none;
	}

	.t1 {
		width: 100px;
		float: left;
		text-align: right;
	}
