<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="padding: 0; margin: 0;">
    <div class="bg">
        <div style="color: aliceblue;">sssss</div>
    </div>
</body>
</html>

<style>
    .bg{
        display: flex;
        justify-content: center;
        align-items: center; 
        width: 100%;
        height: 800px;
        background-size: cover;
        background-image: url("https://images.squarespace-cdn.com/content/v1/5f28ff920ae34d61da923b1e/1604051578816-PBCFUFPXMUUNFWW63BFM/ff.jp")
    }
</style>